KALSHI_API_KEY_ID=
KALSHI_PRIVATE_KEY_PATH=./kalshi_private_key.pem
USE_DEMO_API=true

# Paper trading is ON by default.
# To go live you MUST set ALL THREE of these:
PAPER_TRADING=true
# PAPER_TRADING=false
# LIVE_TRADING_CONFIRMED=yes
# LIVE_TRADING_AMOUNT_CONFIRMED=yes

ANTHROPIC_API_KEY=
TAVILY_API_KEY=

MIN_CONFIDENCE=0.55
MIN_EDGE_PCT=0.05
MAX_POSITION_PCT=0.02
DAILY_LOSS_LIMIT_USD=50
MIN_TRADE_USD=2
MAX_TRADE_USD=100
SCAN_INTERVAL=60
RSS_FEEDS=https://feeds.npr.org/1001/rss.xml,https://rss.nytimes.com/services/xml/rss/nyt/Politics.xml
